In [1]:
import pandas as pd
from tabulate import tabulate
from sklearn.preprocessing import StandardScaler
import os

# Path to the CSV file
file_path = 'bank-full.csv'

# Checking if the file exists
if os.path.exists(file_path):
    print("File found. Loading data...")
    df = pd.read_csv(file_path, sep=';', quotechar='"')
    print("Data loaded successfully!")
else:
    print("File not found at the specified path.")
    print("Please make sure the file exists and the path is correct.")

# Get the count of rows in the DataFrame
num_rows = len(df)
print()
print(f"{num_rows} rows of data are available. Previewing prices of the first 50 rows:")

# Displaying the first 50 rows of the DataFrame in a tabular format
print(tabulate(df.head(50), headers='keys', tablefmt='pretty'))

File found. Loading data...
Data loaded successfully!

45211 rows of data are available. Previewing prices of the first 50 rows:
+----+-----+---------------+----------+-----------+---------+---------+---------+------+---------+-----+-------+----------+----------+-------+----------+----------+----+
|    | age |      job      | marital  | education | default | balance | housing | loan | contact | day | month | duration | campaign | pdays | previous | poutcome | y  |
+----+-----+---------------+----------+-----------+---------+---------+---------+------+---------+-----+-------+----------+----------+-------+----------+----------+----+
| 0  | 58  |  management   | married  | tertiary  |   no    |  2143   |   yes   |  no  | unknown |  5  |  may  |   261    |    1     |  -1   |    0     | unknown  | no |
| 1  | 44  |  technician   |  single  | secondary |   no    |   29    |   yes   |  no  | unknown |  5  |  may  |   151    |    1     |  -1   |    0     | unknown  | no |
| 2  | 33  | entrepreneur  | married  | secondary |   no    |    2    |   yes   | yes  | unknown |  5  |  may  |    76    |    1     |  -1   |    0     | unknown  | no |
| 3  | 47  |  blue-collar  | married  |  unknown  |   no    |  1506   |   yes   |  no  | unknown |  5  |  may  |    92    |    1     |  -1   |    0     | unknown  | no |
| 4  | 33  |    unknown    |  single  |  unknown  |   no    |    1    |   no    |  no  | unknown |  5  |  may  |   198    |    1     |  -1   |    0     | unknown  | no |
| 5  | 35  |  management   | married  | tertiary  |   no    |   231   |   yes   |  no  | unknown |  5  |  may  |   139    |    1     |  -1   |    0     | unknown  | no |
| 6  | 28  |  management   |  single  | tertiary  |   no    |   447   |   yes   | yes  | unknown |  5  |  may  |   217    |    1     |  -1   |    0     | unknown  | no |
| 7  | 42  | entrepreneur  | divorced | tertiary  |   yes   |    2    |   yes   |  no  | unknown |  5  |  may  |   380    |    1     |  -1   |    0     | unknown  | no |
| 8  | 58  |    retired    | married  |  primary  |   no    |   121   |   yes   |  no  | unknown |  5  |  may  |    50    |    1     |  -1   |    0     | unknown  | no |
| 9  | 43  |  technician   |  single  | secondary |   no    |   593   |   yes   |  no  | unknown |  5  |  may  |    55    |    1     |  -1   |    0     | unknown  | no |
| 10 | 41  |    admin.     | divorced | secondary |   no    |   270   |   yes   |  no  | unknown |  5  |  may  |   222    |    1     |  -1   |    0     | unknown  | no |
| 11 | 29  |    admin.     |  single  | secondary |   no    |   390   |   yes   |  no  | unknown |  5  |  may  |   137    |    1     |  -1   |    0     | unknown  | no |
| 12 | 53  |  technician   | married  | secondary |   no    |    6    |   yes   |  no  | unknown |  5  |  may  |   517    |    1     |  -1   |    0     | unknown  | no |
| 13 | 58  |  technician   | married  |  unknown  |   no    |   71    |   yes   |  no  | unknown |  5  |  may  |    71    |    1     |  -1   |    0     | unknown  | no |
| 14 | 57  |   services    | married  | secondary |   no    |   162   |   yes   |  no  | unknown |  5  |  may  |   174    |    1     |  -1   |    0     | unknown  | no |
| 15 | 51  |    retired    | married  |  primary  |   no    |   229   |   yes   |  no  | unknown |  5  |  may  |   353    |    1     |  -1   |    0     | unknown  | no |
| 16 | 45  |    admin.     |  single  |  unknown  |   no    |   13    |   yes   |  no  | unknown |  5  |  may  |    98    |    1     |  -1   |    0     | unknown  | no |
| 17 | 57  |  blue-collar  | married  |  primary  |   no    |   52    |   yes   |  no  | unknown |  5  |  may  |    38    |    1     |  -1   |    0     | unknown  | no |
| 18 | 60  |    retired    | married  |  primary  |   no    |   60    |   yes   |  no  | unknown |  5  |  may  |   219    |    1     |  -1   |    0     | unknown  | no |
| 19 | 33  |   services    | married  | secondary |   no    |    0    |   yes   |  no  | unknown |  5  |  may  |    54    |    1     |  -1   |    0     | unknown  | no |
| 20 | 28  |  blue-collar  | married  | secondary |   no    |   723   |   yes   | yes  | unknown |  5  |  may  |   262    |    1     |  -1   |    0     | unknown  | no |
| 21 | 56  |  management   | married  | tertiary  |   no    |   779   |   yes   |  no  | unknown |  5  |  may  |   164    |    1     |  -1   |    0     | unknown  | no |
| 22 | 32  |  blue-collar  |  single  |  primary  |   no    |   23    |   yes   | yes  | unknown |  5  |  may  |   160    |    1     |  -1   |    0     | unknown  | no |
| 23 | 25  |   services    | married  | secondary |   no    |   50    |   yes   |  no  | unknown |  5  |  may  |   342    |    1     |  -1   |    0     | unknown  | no |
| 24 | 40  |    retired    | married  |  primary  |   no    |    0    |   yes   | yes  | unknown |  5  |  may  |   181    |    1     |  -1   |    0     | unknown  | no |
| 25 | 44  |    admin.     | married  | secondary |   no    |  -372   |   yes   |  no  | unknown |  5  |  may  |   172    |    1     |  -1   |    0     | unknown  | no |
| 26 | 39  |  management   |  single  | tertiary  |   no    |   255   |   yes   |  no  | unknown |  5  |  may  |   296    |    1     |  -1   |    0     | unknown  | no |
| 27 | 52  | entrepreneur  | married  | secondary |   no    |   113   |   yes   | yes  | unknown |  5  |  may  |   127    |    1     |  -1   |    0     | unknown  | no |
| 28 | 46  |  management   |  single  | secondary |   no    |  -246   |   yes   |  no  | unknown |  5  |  may  |   255    |    2     |  -1   |    0     | unknown  | no |
| 29 | 36  |  technician   |  single  | secondary |   no    |   265   |   yes   | yes  | unknown |  5  |  may  |   348    |    1     |  -1   |    0     | unknown  | no |
| 30 | 57  |  technician   | married  | secondary |   no    |   839   |   no    | yes  | unknown |  5  |  may  |   225    |    1     |  -1   |    0     | unknown  | no |
| 31 | 49  |  management   | married  | tertiary  |   no    |   378   |   yes   |  no  | unknown |  5  |  may  |   230    |    1     |  -1   |    0     | unknown  | no |
| 32 | 60  |    admin.     | married  | secondary |   no    |   39    |   yes   | yes  | unknown |  5  |  may  |   208    |    1     |  -1   |    0     | unknown  | no |
| 33 | 59  |  blue-collar  | married  | secondary |   no    |    0    |   yes   |  no  | unknown |  5  |  may  |   226    |    1     |  -1   |    0     | unknown  | no |
| 34 | 51  |  management   | married  | tertiary  |   no    |  10635  |   yes   |  no  | unknown |  5  |  may  |   336    |    1     |  -1   |    0     | unknown  | no |
| 35 | 57  |  technician   | divorced | secondary |   no    |   63    |   yes   |  no  | unknown |  5  |  may  |   242    |    1     |  -1   |    0     | unknown  | no |
| 36 | 25  |  blue-collar  | married  | secondary |   no    |   -7    |   yes   |  no  | unknown |  5  |  may  |   365    |    1     |  -1   |    0     | unknown  | no |
| 37 | 53  |  technician   | married  | secondary |   no    |   -3    |   no    |  no  | unknown |  5  |  may  |   1666   |    1     |  -1   |    0     | unknown  | no |
| 38 | 36  |    admin.     | divorced | secondary |   no    |   506   |   yes   |  no  | unknown |  5  |  may  |   577    |    1     |  -1   |    0     | unknown  | no |
| 39 | 37  |    admin.     |  single  | secondary |   no    |    0    |   yes   |  no  | unknown |  5  |  may  |   137    |    1     |  -1   |    0     | unknown  | no |
| 40 | 44  |   services    | divorced | secondary |   no    |  2586   |   yes   |  no  | unknown |  5  |  may  |   160    |    1     |  -1   |    0     | unknown  | no |
| 41 | 50  |  management   | married  | secondary |   no    |   49    |   yes   |  no  | unknown |  5  |  may  |   180    |    2     |  -1   |    0     | unknown  | no |
| 42 | 60  |  blue-collar  | married  |  unknown  |   no    |   104   |   yes   |  no  | unknown |  5  |  may  |    22    |    1     |  -1   |    0     | unknown  | no |
| 43 | 54  |    retired    | married  | secondary |   no    |   529   |   yes   |  no  | unknown |  5  |  may  |   1492   |    1     |  -1   |    0     | unknown  | no |
| 44 | 58  |    retired    | married  |  unknown  |   no    |   96    |   yes   |  no  | unknown |  5  |  may  |   616    |    1     |  -1   |    0     | unknown  | no |
| 45 | 36  |    admin.     |  single  |  primary  |   no    |  -171   |   yes   |  no  | unknown |  5  |  may  |   242    |    1     |  -1   |    0     | unknown  | no |
| 46 | 58  | self-employed | married  | tertiary  |   no    |  -364   |   yes   |  no  | unknown |  5  |  may  |   355    |    1     |  -1   |    0     | unknown  | no |
| 47 | 44  |  technician   | married  | secondary |   no    |    0    |   yes   |  no  | unknown |  5  |  may  |   225    |    2     |  -1   |    0     | unknown  | no |
| 48 | 55  |  technician   | divorced | secondary |   no    |    0    |   no    |  no  | unknown |  5  |  may  |   160    |    1     |  -1   |    0     | unknown  | no |
| 49 | 29  |  management   |  single  | tertiary  |   no    |    0    |   yes   |  no  | unknown |  5  |  may  |   363    |    1     |  -1   |    0     | unknown  | no |
+----+-----+---------------+----------+-----------+---------+---------+---------+------+---------+-----+-------+----------+----------+-------+----------+----------+----+

## Preprocessing

In [2]:
# 1. Handle Missing Values
# Check for missing values in each column
missing_values = df.isnull().sum()

# Display columns with missing values and the number of missing values
missing_columns = missing_values[missing_values > 0]
if missing_columns.empty:
    print("No missing values in any column.")
else:
    print("Columns with Missing Values:")
    for col, missing_count in missing_columns.items():
        print(f"{col}: {missing_count} missing values")

No missing values in any column.

In [3]:
# 2. Data Cleaning
# Check for duplicate rows
duplicate_rows = df[df.duplicated()]

# Display and remove duplicate rows
if not duplicate_rows.empty:
    print("Duplicate Rows:")
    print(duplicate_rows)
    df = df.drop_duplicates()
    print("Duplicate rows removed.")
else:
    print("No duplicate rows found.")

No duplicate rows found.

In [4]:
# 3. Data Transformation
# Flag to check if any binary columns are found
found_binary_cols = False

# Convert binary categorical columns to numerical values and provide meaningful prints
for col in df.columns:
    if df[col].dtype == 'object' and df[col].nunique() == 2 and set(df[col].unique()) == {'no', 'yes'}:
        df[col] = df[col].map({'no': 0, 'yes': 1})
        print(f"Binary categorical column '{col}' successfully encoded.")
        found_binary_cols = True

# If no binary categorical columns are found, print a message
if not found_binary_cols:
    print("No binary categorical columns found for encoding.")

Binary categorical column 'default' successfully encoded.
Binary categorical column 'housing' successfully encoded.
Binary categorical column 'loan' successfully encoded.
Binary categorical column 'y' successfully encoded.

In [5]:
# 4. Feature Engineering
# Identify categorical columns with up to 10 unique values
categorical_columns = [col for col in df.columns if df[col].dtype == 'object' and df[col].nunique() <= 12]

# Check if there are any categorical columns with up to 12 unique values
if categorical_columns:
    # Encode categorical variables using one-hot encoding for columns with up to 12 unique values
    df = pd.get_dummies(df, columns=categorical_columns)
    
    # Print messages for successfully encoded columns
    for col in categorical_columns:
        print(f"Nominal categorical column '{col}' successfully encoded.")
    
    # Convert boolean columns to integers
    for col in df.columns:
        if df[col].nunique() == 2 and df[col].dtype == bool:
            df[col] = df[col].astype(int)
else:
    print("No categorical columns with up to 12 unique values found.")

Nominal categorical column 'job' successfully encoded.
Nominal categorical column 'marital' successfully encoded.
Nominal categorical column 'education' successfully encoded.
Nominal categorical column 'contact' successfully encoded.
Nominal categorical column 'month' successfully encoded.
Nominal categorical column 'poutcome' successfully encoded.

In [6]:
# 5. Data Scaling
# Initialize the MinMaxScaler
scaler = StandardScaler()

# Select the numerical columns that need to be scaled
numerical_columns = ['age', 'balance', 'duration']

# Apply Min-Max scaling to the selected numerical columns
df[numerical_columns] = scaler.fit_transform(df[numerical_columns])
print("Age, balance, and duration columns scaled using standard scaling.")

Age, balance, and duration columns scaled using standard scaling.

## Training Model

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Exclude the specified columns from the DataFrame
X = df.drop(columns=['y'])

# Target variable
y = df['y']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Instantiate the Random Forest Classifier
rf_classifier = RandomForestClassifier(random_state=42, n_estimators=500)

# Fit the model to the training data
rf_classifier.fit(X_train, y_train)

# Predict on the test data
y_pred = rf_classifier.predict(X_test)

# Evaluate the model's accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9057062813329402

## Feature Importances

In [8]:
# Get feature importances
importances = rf_classifier.feature_importances_

# Print the importance of each feature
for feature, importance in zip(X, importances):
    print(f"{feature}: {importance}")

age: 0.09453979850440129
default: 0.0020076059963673996
balance: 0.09395813307161047
housing: 0.022833409735661253
loan: 0.00959095996970721
day: 0.08224128375117234
duration: 0.2624259471877268
campaign: 0.03912925499495243
pdays: 0.0398209637149569
previous: 0.02086942009715851
job_admin.: 0.009185989330491705
job_blue-collar: 0.008562194896292405
job_entrepreneur: 0.003564648203812384
job_housemaid: 0.0031287691503338404
job_management: 0.010325664674115217
job_retired: 0.005222049794120534
job_self-employed: 0.004601850346155823
job_services: 0.006390510516194877
job_student: 0.004376826738408089
job_technician: 0.010608159219854148
job_unemployed: 0.004440737048139379
job_unknown: 0.001334790656382933
marital_divorced: 0.0072079343149096305
marital_married: 0.010560001728273281
marital_single: 0.009424503908837827
education_primary: 0.006889951257592927
education_secondary: 0.011736410496894143
education_tertiary: 0.011069220572531664
education_unknown: 0.005124747863091269
contact_cellular: 0.00948646239860368
contact_telephone: 0.004639071462616773
contact_unknown: 0.00925936539559974
month_apr: 0.012521214387149987
month_aug: 0.009475363805774056
month_dec: 0.004056424409525581
month_feb: 0.007483275302599884
month_jan: 0.004740132869134796
month_jul: 0.008544706827915879
month_jun: 0.0110999546785981
month_mar: 0.012558612589487756
month_may: 0.009745352033327232
month_nov: 0.007900078148482021
month_oct: 0.011232839716376357
month_sep: 0.008177022411707391
poutcome_failure: 0.008901737694001441
poutcome_other: 0.00509029698939154
poutcome_success: 0.04606426732775419
poutcome_unknown: 0.007852083811806982

In [9]:
# Exclude the specified columns from the DataFrame
X = df.drop(columns=['y', 'default', 'loan'])

# Target variable
y = df['y']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Instantiate the Random Forest Classifier
rf_classifier = RandomForestClassifier(random_state=42, n_estimators=500)

# Fit the model to the training data
rf_classifier.fit(X_train, y_train)

# Predict on the test data
y_pred = rf_classifier.predict(X_test)

# Evaluate the model's accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9063698024181658

## Evaluate

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix

# Calculate the confusion matrix
cm = confusion_matrix(y_test, y_pred)

# Plot the confusion matrix as a heatmap
sns.heatmap(cm, annot=True, fmt="d")

# Set labels and title
plt.xlabel('Predicted')
plt.ylabel('True')
plt.title('Confusion Matrix')

# Display the plot
plt.show()

NameError: name 'y_test' is not defined

True Negative (TN): The instances that were actually negative and were correctly predicted as negative by the model.

False Positive (FP): The instances that were actually negative but were incorrectly predicted as positive by the model.

False Negative (FN): The instances that were actually positive but were incorrectly predicted as negative by the model.

True Positive (TP): The instances that were actually positive and were correctly predicted as positive by the model.

In [11]:
from sklearn.metrics import classification_report

# Generate and print the classification report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.93      0.97      0.95     11966
           1       0.66      0.41      0.51      1598

    accuracy                           0.91     13564
   macro avg       0.80      0.69      0.73     13564
weighted avg       0.89      0.91      0.90     13564

Precision: Precision is the ratio of correctly predicted positive observations to the total predicted positives. In other words, it measures the accuracy of positive predictions.

Recall (Sensitivity): Recall is the ratio of correctly predicted positive observations to the all observations in actual class. In other words, it measures the ability of the model to find all the positive samples.

F1-Score: The F1-score is the harmonic mean of precision and recall. It is a single metric that combines both precision and recall into a single value.

Support: Support is the number of actual occurrences of the class in the specified dataset. It's the number of true instances for each class.

Accuracy: Accuracy is the ratio of correctly predicted observations to the total observations. It measures the overall correctness of the model across all classes. 

Macro Avg: The macro average is the unweighted mean of precision, recall, and F1-score across all classes. It calculates metrics for each class individually and then takes the average

Weighted Avg: The weighted average is the weighted mean of precision, recall, and F1-score across all classes. It calculates metrics for each class individually and then takes the average, with each class's contribution weighted by its support (the number of true instances).